.row {
	background: #101112;
	border-radius: 8px;

	td {
		padding: 15px;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 12px;
		line-height: 1.3em;
		color: #fafcff;

		&.selectCell {
			overflow: visible; /* Позволяем выпадашке выходить за границы */
			position: relative; /* Чтобы dropdown позиционировался относительно ячейки */
		}

		&:first-child {
			border-radius: 8px 0 0 8px;
		}

		&:last-child {
			border-radius: 0 8px 8px 0;
		}
	}
}
