* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

input,
button {
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

a {
	outline: none;
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}
ul,
ol {
	list-style: none;
}
