@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input,
button {
	font-family: inherit;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.3em;
	color: #fff;
	background: #050506;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1510px;
}
