.container {
	position: relative;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

.select {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13px 12px;
	background: transparent;
	border: 1px solid #444;
	border-radius: 8px;
	cursor: pointer;
	color: #fff;
	gap: 8px;
	width: 100%;
	min-width: 0;
	transition: border-color 0.2s;

	&.active {
		border-color: #fff;
	}
}

.label {
	flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.arrow {
	flex-shrink: 0;
	width: 11px;
	height: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: transform 0.2s;

	&.rotate {
		transform: rotate(180deg);
	}
}

.dropdown {
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	width: 320px;
	background: #1a1a1a;
	border: 1px solid #333;
	border-radius: 12px;
	list-style: none;
	padding: 8px;
	margin: 0;
	z-index: 100;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.option {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	color: #717681;
	cursor: pointer;
	border-radius: 8px;
	font-size: 14px;
	transition: all 0.2s ease;

	.check {
		opacity: 0;
		width: 24px;
		display: flex;
		align-items: center;
		color: inherit;
		transition: opacity 0.2s ease;
	}

	&.selectedOption {
		.check {
			opacity: 1;
		}
	}
	&:hover {
		background: #303133;
		color: #ffffff;

		.check {
			opacity: 1;
			color: #ffffff;
		}
	}
}
