.lbl {
	display: inline-block;
	padding: 12px 16px;
	width: 380px;
	height: 48px;
	border-radius: 8px;
	background: #18191a;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	cursor: pointer;
}

.searchIcon {
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchInput {
	font-size: 16px;
	color: #fff;
	width: 100%;

	&::placeholder {
		color: #909399;
		font-weight: 400;
		font-family: 'Montserrat', sans-serif;
	}
}
