.footer {
	.nav {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(5, 1fr);
		margin-bottom: 32px;
	}

	.link {
		font-weight: 500;
		font-size: 16px;

		color: rgba(255, 255, 255, 0.4);
	}

	.copy {
		font-size: 16px;
		line-height: 150%;
		color: rgba(255, 255, 255, 0.2);
		padding: 0 10px;
	}
}
